.App{
    color: #b8b8b2;
    text-align: center;
}

.app-container{
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:#2c3e50;
}

label{
    font-size:20px;
    display:block;
    margin-bottom: 10px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #3c5267;
    background-image: none;
}
/* Custom Select */
.select {
    position: relative;
    display: block;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
    left:0;
    right:0;
    margin:auto;
}
select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495e;
    pointer-events: none;
}
/* Transition */
.select:hover::after {
    color: #f39c12;
}
.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
.form-container{
    margin-left: 50px;
    margin-right:50px;
}

@media (min-width: 1050px) {
    .app-container{
        width:1050px;
        height:550px;
        margin:auto;
        -webkit-box-shadow: 0px 0px 17px 6px rgba(56,55,56,1);
        -moz-box-shadow: 0px 0px 17px 6px rgba(56,55,56,1);
        box-shadow: 0px 0px 17px 6px rgba(56,55,56,1);
    }


}