ul.sensors li{
    list-style:none;
    color:#f39c12;
    margin:5px;
}
.sensor{
    font-weight:bold;
}

#myCanvas{
    width:300px;
    height:200px;
    margin-bottom: 20px;
}

ul.sensors li:empty{
    list-style: none;
    width:250px;
    height:15px;
    margin:15px;
    background-color: #38526c;
    border-radius: 4px;
}

#myCanvas:empty{
    background-color: #38526c;
    border-radius:10px;
    width:300px;
    height:200px;
    margin-bottom: 20px;
}